* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }


  nav{
    border: 1px solid black;
    height: 60px;
    background-color: rgb(166, 159, 159);
  }

  .item1{
    position: relative;
left: 60px;
color: black;
top: 10px;
}

.item2{
position: relative;
left: 100px;
color: black;
top: 10px;
}

#item4{
    position: relative;
    left: 150px;
    color: black;
    top: 10px;
}

.item5{
position: relative;
left: 280px;
width: 250px;
top: 10px;

}

.item6{
    position: relative;
    left: 870px;
    top: 10px;
}

.item7{
position: relative;
left: 900px;
top: 10px;
color: black;
}

.item8{
    position: relative;
    left: 950px;
    color: black;
    top: 10px;
}

#container{
  background-color: white;
  height: 300px;
  width: 300x;
  display: none;
  
}