* {
    margin: 0;
    padding: 0;

  }

  .main{
    border: 1px solid grey;
    height: 60px;
    width: auto;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #777f8c;
    
  }

  .mini{
    border:1px solid black;
    height: 25px;
    width: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }