*{
    margin: 0%;
    padding: 0%;
font-family: 'Poppins', sans-serif;
}

.main{
    border: 3px solid black;
    width: 480px;
    height: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 170px;
    margin-left: 500px;
    cursor: pointer;
    align-items: baseline;
text-align: center;
    
}